{% extends 'base.html' %}
{% block content %}
	<div  class="register">
		<h1>Instructions</h1>
	</div>
	<br><br><hr><hr>
		<ul class="list-group">
		<li class="list-group-item">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</li>
		<li class="list-group-item">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</li>
		<li class="list-group-item">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.</li>
		<li class="list-group-item">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt.</li>
		<li class="list-group-item">Massa placerat duis ultricies lacus.</li>
		<li class="list-group-item">Mattis rhoncus urna neque viverra justo nec ultrices dui sapien. </li>
		<li class="list-group-item">Sit amet facilisis magna etiam tempor orci eu.</li>
		<li class="list-group-item">Condimentum mattis pellentesque id nibh tortor id aliquet.</li>
		<li class="list-group-item">Sit amet commodo nulla facilisi nullam vehicula ipsum a arcu.</li>
		<li class="list-group-item">Vulputate eu scelerisque felis imperdiet. Sed faucibus turpis in eu mi bibendum neque egestas.</li>
		</ul>
		<div class="start">
			<button type="button" class="btn btn-success" style="width: 350px; height: 80px;font-size : 500px;"><a href="{% url 'ques_detail' test 1 %}"><h4>Start Test</h4></a></button>
		</div>
{% endblock %}