{% extends 'base.html' %}

{% block content %}
<div class="round1">
	<h1>ROUND-1 MCQ</h1>
	</div>
	<form action="{% url 'response_savem' pksent id pksent %}" method="POST"
              class="post-form" >{% csrf_token %}

		<div class="question">
			<h2>Question : {{ question.question }}          (Marks : {{ question.marks }})</h2>

			{% if response1 %}
				<p><input type="checkbox" name="response1" id="id_response1" checked> {{ question.opt1 }}</p>
			{% else %}
				<p><input type="checkbox" name="response1" id="id_response1"> {{ question.opt1 }} </p>
			{% endif %}

			{% if response2 %}
				<p><input type="checkbox" name="response2" id="id_response2" checked> {{ question.opt2 }} </p>
			{% else %}
				<p><input type="checkbox" name="response2" id="id_response2"> {{ question.opt2 }} </p>
			{% endif %}

			{% if response3 %}
				<p><input type="checkbox" name="response3" id="id_response3" checked> {{ question.opt3 }} </p>
			{% else %}
				<p><input type="checkbox" name="response3" id="id_response3"> {{ question.opt3 }} </p>
			{% endif %}

			{% if response4 %}
				<p> <input type="checkbox" name="response4" id="id_response4" checked> {{ question.opt4 }} </p>
			{% else %}
				<p><input type="checkbox" name="response4" id="id_response4"> {{ question.opt4 }}</p>
			{% endif %}

		</div>


		<div class="pagination">
			<div class="section-inner clearfix">
				<p>
					{% if pksent > 1 %}
						<input type="submit" name = "SavePrevious" value="Previous" class="btn btn-success" style="width: 100px; height: 50px;" />
					{% endif %}


					{% if  pksent  <  count  %}
						<input type="submit" name = "SaveNext" value="Next" class="btn btn-success" style="width: 100px; height: 50px;" />
					{% endif %}

					<br>

					<span>Question {{ pksent }} of {{ count }}</span>

					<br>
					<br>

					{% if pksent  ==  count %}
						<input type="submit" name = "Finish" value="Proceed to Round 2" class="btn btn-success" style="width: 100px; height: 50px;" />
					{% endif %}
				</p>

			</div>
		 </div>
	</form>
{% endblock %}
