{% extends 'test.html' %}

{% block title %}
<div class="round1">
	<h1>ROUND-1 MCQ</h1>
	</div>
	<form action="{% url 'response_savem' pksent id %}" method="POST"
              class="post-form" >{% csrf_token %}
	<div class="question">
		{% for question in questions %}
			<h2>Q. {{ question.question }}</h2><br><br><br><br>
			<p><input type="checkbox" name="opt1">{{ question.opt1 }}<br><br>
				<input type="checkbox" name="opt2">{{ question.opt2 }}<br><br>
				<input type="checkbox" name="opt3">{{ question.opt3 }}<br><br>
				<input type="checkbox" name="opt4">{{ question.opt4 }}<br><br></p>

			<input type="submit" value="Save" class="btn btn-success" style="width: 100px; height: 50px;" />
		{% endfor %}
	</div>
	<div class="pagination">
		<div class="section-inner clearfix">
			<p>
				{% if questions.has_previous %}
					<a href="?page={{ questions.previous_page_number }}">Previous</a>
				{% endif %}

				{% if questions.has_next %}
					<a href="?page={{ questions.next_page_number }}">Next</a>
				{% endif %}
				{% if questions.has_next == False %}
					<a href="{% url 'proceed' %}">Proceed</a>
				{% endif %}
				<span>Question {{ questions.number }} of {{ questions.paginator.num_pages }}</span>
			</p>
		</div>
	</div>
</form>
{% endblock %}
