{% extends 'test.html' %}

{% block title %}
<div class="round1">
	<h1>ROUND-1 Integer-Type</h1>
	</div>
	<form action="{% url 'response_savei' pksent id %}" method="POST"
              class="post-form" >{% csrf_token %}
	<div class="question">
		{% for question in questions %}
			<h2>Q. {{ question.question }}</h2><br><br><br><br>
			<table><label for="ans"><b>Answer</b></label>
      		<input type="number" placeholder="Enter answer"/></table>
    		<br><br>
		{% endfor %}
	</div>
	<div class="pagination">
		<div class="section-inner clearfix">
			<p>
				{% if questions.has_previous %}
					<a href="?page={{ questions.previous_page_number }}">Previous</a>
				{% endif %}

				{% if questions.has_next %}
					<a href="?page={{ questions.next_page_number }}">Next</a>
				{% endif %}
				{% if questions.has_next == False %}
					<a href="{% url 'round2' %}">Proceed To Round-2</a>
				{% endif %}
				<span>Question {{ questions.number }} of {{ questions.paginator.num_pages }}</span>
			</p>
		</div>
	</div>
</form>
{% endblock %}
