{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<div id="root" style="height: 100%">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <img src="{% static '/images/microsoft_logo.png' %}" height="50" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navbar-right" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto">
                <a class="nav-item nav-link active" href="#">Page 1<span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="#">Page 2</a>
                <a class="nav-item nav-link" href="#">Page 3</a>
                <a class="nav-item nav-link" href="#">Page 4</a>
            </div>
        </div>
    </nav>




    <div class="centered" id="whitebox">
        <div class="container-fluid">
            <div class="row">
                <img src="{% static 'images/msp_logo.jpg' %}" alt="" style="width:70px">
                <h1 class="display-4">Register</h1>
            </div>
        </div>

        <form method = "POST" style="padding: 10px" id="register" >
            {% csrf_token %}
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" name="firstName" id="firstName" placeholder="Tom" pattern="[a-zA-Z]{1,25}" maxlength="25" required>
            </div>

            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" name="lastName"  id="lastName" placeholder="Cruise" pattern="[a-zA-Z]{1,25}" maxlength="25"
                    required>
            </div>

            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" name="username" id="username" placeholder="As on slip" maxlength="25" required>
            </div>

            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="name@example.com" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                    else.</small>
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" id="password" placeholder="As on slip" maxlength="25" required>
            </div>

            <div class="form-group">
                <label for="exampleInputPassword1">Phone Number</label>
                <input type="tel" class="form-control" name="contact" id="phoneNumber" placeholder="9876567890" inputmode="numeric" minlength="10" maxlength="10" pattern="\d{10}" required>
            </div>

            <div class="form-group">
                <label for="bitsid">BITS ID</label>
                <input type="text" class="form-control" name="bitsid" id="bitsid" placeholder="2019A3PS0123P"  pattern="2019(AB|A\d|B\d)[PT]S\d{4}P" required>
            </div>

            <div class="form-group">
                <label for="exampleFormControlTextarea1">I think I am good at...</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" name = "description" rows="3" required></textarea>
            </div>

            <input type="submit" class="btn btn-primary btn-block btn-lg" style="background-color: #bc2981" value = "Register" />
        </form>
    </div>
    <canvas id="c"></canvas>
    <script src="{% static 'script.js' %}"></script>
</div>
<!--
      This HTML file is a template.
      If you open it directly in the browser, you will see an empty page.

      You can add webfonts, meta tags, or analytics to this file.
      The build step will place the bundled scripts into the <body> tag.

      To begin the development, run `npm start` or `yarn start`.
      To create a production bundle, use `npm run build` or `yarn build`.
    -->


{% endblock %}