{% load static %}
{% load staticfiles %}

<html lang="en">
    <head>
        <title>
            Microsoft Student Partners | Recruitment Test Portal
        </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'script1.js' %}">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
        <link rel="shortcut icon" href="{% static '/images/msp-logo.png' %}" />
        <script src="{% static 'script1.js' %}"></script>
    </head>

    <body>

    {% block content %}
    {% endblock %}

	</body>
</html>