@import url('https://fonts.googleapis.com/css?family=Roboto:500,700&display=swap');


.jumbotron-background {
    /* background: url('./images/jumbotron-background.jpg'); */
    background: linear-gradient(to right, rgb(218, 98, 118), #ffc3a0);
    background-size: cover;
    background-position: center;
}

.jumbotron-button {
    background-color: #bc2981;
    border: #bc2981;
    margin-top: 20px
}

img {
    display: block;
    max-width: 50%;
    height: auto;
}

.rulesBox {
    padding: 3%;
}

.rulesBox li {
    color: white;
    padding: 0.2%;
    /* font-family: "Roboto",
        sans-serif; */
    font-weight: 500;
    font-size: 20px;
}

.rulesBox ul {
    list-style: none;
}

.rulesBox ul li::before {
    content: "\2022";
    color: rgb(218, 98, 118);
    font-weight: 700;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.rulesTitleHr {
    background: linear-gradient(to right, rgb(218, 98, 118), #ffc3a0);
    height: 1px;
    width: 26%;
}