@import url('https://fonts.googleapis.com/css?family=Roboto:500,700&display=swap');


.jumbotron-background {
    /* background: url('./images/jumbotron-background.jpg'); */
    background: linear-gradient(to right, #2B025A, black);
    background-size: cover;
    background-position: center;
}

.jumbotron-button {
    background-color: transparent !important;
    border-color: white !important;
    border-width: 3px !important;
    border-style: solid;
    border-radius: 0px !important;
    margin-top: 20px;
    padding-bottom: 10px;
}

.jumbotron-button:hover {
    color: #0078d4 !important;
    border-color: #0078d4 !important;
    outline: none !important;
}

img {
    display: block;
    max-width: 50%;
    height: auto;
}

.rulesBox {
    padding: 3%;
}

.rulesBox li {
    color: white;
    padding: 0.2%;
    /* font-family: "Roboto",
        sans-serif; */
    font-weight: 500;
    font-size: 20px;
}

.rulesBox ul {
    list-style: none;
}

.rulesBox ul li::before {
    content: "\2022";
    color: rgb(218, 98, 118);
    font-weight: 700;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.rulesTitleHr {
    background: linear-gradient(to right, rgb(218, 98, 118), #ffc3a0);
    height: 1px;
    width: 26%;
}