{% extends 'base.html' %}
{% block content %}
	<div  class="register">
		<h1>Instructions</h1>
	</div>
	<br><br><hr><hr>
		<ul class="list-group">
		<li class="list-group-item">Exam duration is of one hour.</li>
		<li class="list-group-item">The exam consists of 18 questions divided into two rounds-1 and 2. Round 1 comprises of 8 questions and Round 2 comprises of 10 questions.</li>
		<li class="list-group-item">Marking Scheme is written at the top of every question.</li>
		<li class="list-group-item">All questions in Round 1 are of MCQ type where there may be more than one correct options. Round 2 questions are of subjective type.</li>
		<li class="list-group-item">Make sure that you don't have any unauthorised material (e.g. written notes, notes in dictionaries, paper, and sticky tape eraser) with or near you. </li>
		<li class="list-group-item">Ensure that you use the washroom before starting of your exam as you will not be permitted to leave while the test is going on.</li>
		<li class="list-group-item">Everything you write must be in the rough sheets provided.</li>
		<li class="list-group-item">If you have a question or need more papers, raise your hand and a teacher will come to you. Teachers will not give hints or answers, so please do not ask for them.</li>
		<li class="list-group-item">Leave the exam hall quickly and quietly. Remember to take all your belongings with you.</li>
		<li class="list-group-item">Remember! Cheating is not allowed and action will be taken.</li>
		</ul>
		<div class="start">
			<button type="button" class="btn btn-success" style="width: 350px; height: 80px;font-size : 500px;"><a href="{% url 'ques_detail' test 1 %}"><h4>Start Test</h4></a></button>
		</div>
{% endblock %}
