{% extends 'questions.html' %}
{% load staticfiles %}
{% block content %}


<form action="{% url 'response_savem' pksent id pksent %}" method="POST">
    {% csrf_token %}

    <input type="hidden" id="hidden_round" value="1">
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="nav container-fluid">
            <div class="navbar-logo col-sm-5">
                <img src="{% static '/images/msp-logo.png' %}">
                <span>Microsoft Student Partners | BITS Pilani</span>
            </div>
            <div class="nav-items row col-sm-7">
                <div class="nav-item col-sm-3" id="stage-heading"><p>ROUND 1</p></div>
                <div class="col-sm-5"></div>
                <div class="nav-item col-sm-4" id="stage-2-proceed"><p><button type="submit" name="Round2" onclick="proceedRound2()">Proceed to Round 2 &nbsp;<i class="fa fa-caret-right"></i></button></p></div>
                <button type="submit" name="Finish" id="round1-logout"></button>
            </div>
        </div>
    </nav>

    <div class="main container-fluid row">

        <div class="ques-sel container col-sm-2">
            <p>Progress</p>
            <div id="button-set">
                {% for i in n %}
                <button type="submit" name="progress-number" value="{{ i }}" class="btn btn-default" onclick="btnClickMCQ()">{{ i }}</button>
                {% endfor %}
            </div>
        </div>

        <div class="content container col-sm-9">
            <div class="row">
                <div class="col-xs-1 nav-arrow left"><button type="submit" name="SavePrevious" onclick="btnClickMCQ()"><i class="fa fa-chevron-left"></i></button></div>
                <div class="col-xs-10 qa">
                    <div class="question">
                        <span class="qnum-span">&nbsp;Question <span id="qnum">{{ pksent }}</span> of <span id="qnum-count">{{ count }}</span>&nbsp;</span>

                        <span class="marks-span">&nbsp;Marks: <span id="marks">{{ question.marks }}</span>&nbsp;</span>
                        <br>
                        <span id="question-p"> Q. {{ question.question }}</span>
                    </div>
                    <div class="response">
                        <div class="form-group">
                            <div class="row">
                                <div class="ck-button">
                                    <label>
                                        {% if response1 %}
                                        <input type="checkbox" name="response1" id="id_response1" value="Option 1" class="left-chx" checked hidden><span class="noSelect">{{ question.opt1 }}</span>
                                        {% else %}
                                        <input type="checkbox" name="response1" id="id_response1" value="Option 1" class="left-chx" hidden><span class="noSelect">{{ question.opt1 }}</span>
                                        {% endif %}
                                    </label>
                                </div>

                                <div class="ck-button">
                                    <label>
                                        {% if response2 %}
                                        <input type="checkbox" name="response2" id="id_response2" value="Option 2" class="right-chx" checked hidden><span class="noSelect">{{ question.opt2 }}</span>
                                        {% else %}
                                        <input type="checkbox" name="response2" id="id_response2" value="Option 2" class="right-chx" hidden><span class="noSelect">{{ question.opt2 }}</span>
                                        {% endif %}
                                    </label>
                                </div>

                            </div>
                            <div class="row">

                                <div class="ck-button">
                                    <label>
                                        {% if response3 %}
                                        <input type="checkbox" name="response3" id="id_response3" value="Option 3" class="left-chx" checked hidden><span class="noSelect">{{ question.opt3 }}</span>
                                        {% else %}
                                        <input type="checkbox" name="response3" id="id_response3" value="Option 3" class="left-chx" hidden><span class="noSelect">{{ question.opt3 }}</span>
                                        {% endif %}
                                    </label>
                                </div>

                                <div class="ck-button">
                                    <label>
                                        {% if response4 %}
                                        <input type="checkbox" name="response4" id="id_response4" value="Option 4" class="right-chx" checked hidden><span class="noSelect">{{ question.opt4 }}</span>
                                        {% else %}
                                        <input type="checkbox" name="response4" id="id_response4" value="Option 4" class="right-chx" hidden><span class="noSelect">{{ question.opt4 }}</span>
                                        {% endif %}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-1 nav-arrow right"><button type="submit" name="SaveNext" onclick="btnClickMCQ()"><i class="fa fa-chevron-right"></i></button></div>
            </div>
        </div>

        <div class="progress-info container-fluid">
            <div class="container row col-sm-12">
                <div class="container col-sm-3">
                    <div class="progress-info-colors" style="background-color: #5bc0de;"></div>
                    <span>Current</span>
                </div>
                <div class="container col-sm-3">
                    <div class="progress-info-colors" style="background-color: #5cb85c;"></div>
                    <span>Attempted</span>
                </div>
                <div class="container col-sm-3">
                    <div class="progress-info-colors" style="background-color: #dc3545;"></div>
                    <span>Not Attempted</span>
                </div>
                <div class="container col-sm-3">
                    <div class="progress-info-colors" style="background-color: #fff;"></div>
                    <span>Yet to Attempt</span>
                </div>
            </div>
        </div>

    </div>

</form>

{% endblock %}
