{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" style="scroll-behavior: smooth;">
  <head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="{% static '/login/favicon.ico' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <!--
      manifest.json provides metadata used when your web app is installed on a
      user's mobile device or desktop. See https://developers.google.com/web/fundamentals/web-app-manifest/
    -->
    <link rel="manifest" href="{% static '/login/manifest.json' %}" />
    <!--
      Notice the use of %PUBLIC_URL% in the tags above.
      It will be replaced with the URL of the `public` folder during the build.
      Only files inside the `public` folder can be referenced from the HTML.

      Unlike "/favicon.ico" or "favicon.ico", "%PUBLIC_URL%/favicon.ico" will
      work correctly both with client-side routing and a non-root public URL.
      Learn how to configure a non-root public URL by running `npm run build`.
    -->
    <title>MSP Recruitement Test</title>
    <link rel="shortcut icon" href="{% static 'images/msp-logo.png' %}" />
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script language = "javascript" type = "text/javascript">
      function clearLS() {
        window.localStorage.clear();	
      }
      window.onload = clearLS;
    </script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="{% static '/FINISH/thankYou.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  
  <body
    style="background: linear-gradient(to right, rgb(218, 98, 118), #ffc3a0)"
  >
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root" style="height: 100%">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
          <img
            src="../register_page/images/microsoft_logo.png"
            height="50"
            alt=""
          />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse navbar-right"
          id="navbarNavAltMarkup"
        >
          <div class="navbar-nav ml-auto">
          </div>
        </div>
      </nav>
    </div>
    <div class="thankYouDeck">
      <div class="thankYouCircle">
        <span class="text">Thank You :)</span>
        <span class="text" style="font-size: 30px; text-align: center;">
          <br>
          We hope you had an enjoyable experience.
          <br>
          <br>
          <br>
          If you want to meet the team, just scroll down
          <br>
          <a href="#teamID"><i class="fa fa-angle-double-down" style="font-size: 60px;"></i></a>
      </div>
      <hr style="height: 1px; width: 75%; background: white;">
      <div class="teamContainer" id="teamID">
        <div class="row topRow">
          <span class="title" style="text-decoration: underline;">DEVELOPERS</span>
        </div>
        <div class="team">
          <div className="imagesContainer">
            <div class="row" style="width: 100%; margin: 20px auto">
              <span class="title">Frontend</span>
              <div class="teamImages">
                <div class="imageContainer" style="text-align: center">
                  <div class="row" style="width: 100%; margin: 0 auto">
                    <img class="teamImage" src="{% static 'FINISH/harshan.jpg' %}" />
                  </div>
                  <div class="row" style="width: 100%; margin: 0 auto">
                    <span class="name">Harshan Baskar</span>
                  </div>
                </div>
                <div class="imageContainer" style="text-align: center">
                  <div class="row" style="width: 100%; margin: 0 auto">
                    <img class="teamImage" src="{% static 'FINISH/apoorv.png' %}" />
                  </div>
                  <div class="row" style="width: 100%; margin: 0 auto">
                    <span class="name">Apoorv Sadana</span>
                  </div>
                </div>
                <div class="imageContainer" style="text-align: center">
                  <div class="row" style="width: 100%; margin: 0 auto">
                    <img class="teamImage" src="{% static 'FINISH/kshitij.jpeg' %}" />
                  </div>
                  <div class="row" style="width: 100%; margin: 0 auto">
                    <span class="name">Kshitij Abhishek</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" style="width: 100%; margin: 20px auto">
              <span class="title">Backend</span>
              <div class="teamImages">
                <div class="imageContainer" style="text-align: center">
                  <div class="row" style="width: 100%; margin: 0 auto">
                    <img class="teamImage" src="{% static 'FINISH/Vaibhav.jpg' %}" />
                  </div>
                  <div class="row" style="width: 100%; margin: 0 auto">
                    <span class="name">Vaibhav Garg</span>
                  </div>
                </div>
                <div class="imageContainer" style="text-align: center">
                  <div class="row" style="width: 100%; margin: 0 auto">
                    <img class="teamImage" src="{% static 'FINISH/Priyam.jpg' %}" />
                  </div>
                  <div class="row" style="width: 100%; margin: 0 auto">
                    <span class="name">Priyam Shah</span>
                  </div>
                </div>
                <div class="imageContainer" style="text-align: center">
                  <div class="row" style="width: 100%; margin: 0 auto">
                    <img class="teamImage" src="{% static 'FINISH/Surbhi.jpg' %}" />
                  </div>
                  <div class="row" style="width: 100%; margin: 0 auto">
                    <span class="name">Surbhi Goel</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" style="width: 100%; margin: 20px auto">
              <span class="title">Design</span>
              <div class="teamImages">
                <div class="imageContainer" style="text-align: center">
                  <div class="row" style="width: 100%; margin: 0 auto">
                    <img class="teamImage" src="{% static 'FINISH/mrigank.jpeg' %}" />
                  </div>
                  <div class="row" style="width: 100%; margin: 0 auto">
                    <span class="name">Mrigank Bhargava</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" style="width: 100%; margin: 20px auto">
              <span class="title">Paper Setter</span>
              <div class="teamImages">
                <div class="imageContainer" style="text-align: center">
                  <div class="row" style="width: 100%; margin: 0 auto">
                    <img class="teamImage" src="{% static 'FINISH/Kaival.jpg' %}" />
                  </div>
                  <div class="row" style="width: 100%; margin: 0 auto">
                    <span class="name">Kaival</span>
                  </div>
                </div>
                <div class="imageContainer" style="text-align: center">
                  <div class="row" style="width: 100%; margin: 0 auto">
                    <img class="teamImage" src="{% static 'FINISH/Harman.jpg' %}" />
                  </div>
                  <div class="row" style="width: 100%; margin: 0 auto">
                    <span class="name">Harmanjot Kaur</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" style="width: 100%; margin: 20px auto">
              <span class="title">Guidance</span>
              <div class="teamImages">
                <div class="imageContainer" style="text-align: center">
                  <div class="row" style="width: 100%; margin: 0 auto">
                    <img class="teamImage" src="{% static 'FINISH/AYUSH.jpg' %}" />
                  </div>
                  <div class="row" style="width: 100%; margin: 0 auto">
                    <span class="name">Ayush Jain</span>
                  </div>
                </div>
                <div class="imageContainer" style="text-align: center">
                  <div class="row" style="width: 100%; margin: 0 auto">
                    <img class="teamImage" src="{% static 'FINISH/Dipam.png' %}" />
                  </div>
                  <div class="row" style="width: 100%; margin: 0 auto">
                    <span class="name">Dipam Goswami</span>
                  </div>
                </div>
                <div class="imageContainer" style="text-align: center">
                  <div class="row" style="width: 100%; margin: 0 auto">
                    <img class="teamImage" src="{% static 'FINISH/Deepak.jpg' %}" />
                  </div>
                  <div class="row" style="width: 100%; margin: 0 auto">
                    <span class="name">Deepak Jain</span>
                  </div>
                </div>
                <div class="imageContainer" style="text-align: center">
                  <div class="row" style="width: 100%; margin: 0 auto">
                    <img class="teamImage" src="{% static 'FINISH/Rakshit.jpg' %}" />
                  </div>
                  <div class="row" style="width: 100%; margin: 0 auto">
                    <span class="name">Rakshit Mishra</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
